@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Dosis', serif !important;
    font-size: 1.4rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
