.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 60px 30px 10px 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    width: 90%;
    height: auto;
    padding: 10px;
}

.form-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}

.contact-section {
    background-color: #daa5a5;
    width: 97%;
}

// Extra Large
@media (min-width: 1201px) {
    .row {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .trends-card-row {
        display: flex;
        flex-direction: row;
    }

    .trend-section-row {
        margin-right: 67px;
    }

    .title {
        font-size: 32px;
        margin: 0;
    }

    .seeall {
        font-size: 13px;
        position: relative;
        float: right;
        color: rgba(93, 93, 93, 0.467);
    }

    .contact-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        justify-content: center;
        margin: 84px 0px 84px 0px;
    }

    .section-heading {
        font-size: 28px;
        font-weight: 450;
        padding-top: 4rem;;
    }

    .contact-left-column {
        width: 50%;
        height: 450px;
        font-size: 27px;
        letter-spacing: 0.75px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 18%;
        padding-right: 20px;
    }

    .contact-right-column {   
        width: 50%;
        height: 450px;
        padding-left: 45px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-row {
        height: auto;
        width: 75%;
    }

    .contact-logo {
        width: 30px;
        height: 30px;
        padding-right: 7px;
    }

    .form-control {
        font-size: 20px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.33);
        border-radius: 5px;
    }

    .informations-2 .form-control {
        margin-top: 10px;
        width: 100%;
        height: 40px;
    }

    .informations-1 .form-control {
        margin-top: 10px;
        width: 100%;
        height: 80px;
    }

    .btn-send {
        margin-top: 10px;
        font-size: 18px;
        width: 13%;
        padding: 4px 10px 4px 10px;
        border: 1px solid rgba(0, 0, 0, 0.33);
        border-radius: 5px;
    }
}

//Large
@media (min-width: 993px) and (max-width: 1200px) {
    .row {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .trends-card-row {
        display: flex;
        flex-direction: row;
    }

    .trend-section-row {
        margin-right: 67px;
    }

    .title {
        font-size: 31px;
        margin: 0;
    }

    .seeall {
        font-size: 11px;
        position: relative;
        float: right;
        color: rgba(93, 93, 93, 0.467);
    }

    .contact-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        justify-content: center;
        margin: 68px 0px 68px 0px;
    }

    .contact-left-column {
        background-color: rgba(254, 254, 254, 0.15);
        width: 50%;
        height: 450px;
        font-size: 25px;
        letter-spacing: 0.5px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 18%;
        padding-right: 20px;
    }

    .contact-right-column {
        background-color: rgba(254, 254, 254, 0.15);
        width: 50%;
        height: 450px;
        padding-left: 45px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-row {
        height: auto;
        width: 75%;
    }

    .contact-logo {
        width: 28.5px;
        height: 28.5px;
        padding-right: 6px;
    }

    .form-control {
        font-size: 19px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.33);
        border-radius: 5px;
    }

    .informations-2 .form-control {
        margin-top: 10px;
        width: 100%;
        height: 40px;
    }

    .informations-1 .form-control {
        margin-top: 10px;
        width: 100%;
        height: 80px;
    }

    .btn-send {
        margin-top: 10px;
        font-size: 17px;
        width: 15%;
        padding: 4px 10px 4px 10px;
        border: 1px solid rgba(0, 0, 0, 0.33);
        border-radius: 5px;
    }
}
//Medium
@media (min-width: 769px) and (max-width: 992px) {
    .row {
        width: 90%;
        height: auto;
        padding: 10px;
    }

    .trends-card-row {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 29px;
        margin: 0;
    }

    .seeall {
        font-size: 9px;
        position: relative;
        float: right;
        color: rgba(93, 93, 93, 0.467);
    }

    .contact-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        justify-content: center;
        margin: 53px 0px 53px 0px;
    }


    .contact-left-column {
        background-color: rgba(254, 254, 254, 0.15);
        width: 50%;
        height: 450px;
        font-size: 21px;
        letter-spacing: 0.5px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 16%;
        padding-right: 20px;
    }

    .contact-right-column {
        background-color: rgba(254, 254, 254, 0.15);
        width: 50%;
        height: 450px;
        padding-left: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-row {
        height: auto;
        width: 75%;
    }

    .contact-logo {
        width: 27.75px;
        height: 27.75px;
        padding-right: 5.5px;
    }

    .form-control {
        font-size: 18px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.33);
        border-radius: 5px;
    }

    .informations-2 .form-control {
        margin-top: 10px;
        width: 100%;
        height: 40px;
    }

    .informations-1 .form-control {
        margin-top: 10px;
        width: 100%;
        height: 80px;
    }

    .btn-send {
        margin-top: 10px;
        font-size: 16px;
        width: 17%;
        padding: 3.5px 8.75px 3.5px 8.75px;
        border: 1px solid rgba(0, 0, 0, 0.33);
        border-radius: 5px;
    }
}

//Small
@media (min-width: 577px) and (max-width: 768px) {
    .row {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .trends-card-row {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-size: 29px;
        margin: 0;
    }

    .seeall {
        font-size: 9px;
        position: relative;
        float: right;
        color: rgba(93, 93, 93, 0.467);
    }

    .contact-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        justify-content: center;
        margin: 53px 0px 53px 0px;
    }

    .contact-left-column {
        background-color: rgba(254, 254, 254, 0.15);
        width: 44%;
        height: 450px;
        font-size: 16px;
        letter-spacing: 0.5px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 13%;
        padding-right: 15px;
    }

    .contact-right-column {
        background-color: rgba(254, 254, 254, 0.15);
        width: 56%;
        height: 450px;
        padding-left: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-row {
        height: auto;
        width: 75%;
    }

    .contact-logo {
        width: 25px;
        height: 25px;
        padding-right: 5.5px;
    }

    .form-control {
        font-size: 15px;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, 0.33);
        border-radius: 5px;
    }

    .informations-2 .form-control {
        margin-top: 10px;
        width: 100%;
        height: 40px;
    }

    .informations-1 .form-control {
        margin-top: 10px;
        width: 100%;
        height: 80px;
    }

    .btn-send {
        margin-top: 10px;
        width: 21%;
        font-size: 13px;
        padding: 3.5px 8.75px 3.5px 8.75px;
        border: 1px solid rgba(0, 0, 0, 0.33);
        border-radius: 5px;
    }
}

//Extra Small
@media (max-width: 576px) {
    .row {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .title {
        font-size: 27px;
        margin: 0;
    }

    .seeall {
        font-size: 9px;
        position: relative;
        float: right;
        color: rgba(93, 93, 93, 0.467);
    }

    .contact-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 100%;
        justify-content: center;
        margin: 53px 0px 53px 0px;
    }

    .contact-left-column {
        background-color: rgba(254, 254, 254, 0.15);
        width: 40%;
        height: 450px;
        font-size: 14px;
        letter-spacing: 0.25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        padding-right: 15px;
    }

    .contact-right-column {
        background-color: rgba(254, 254, 254, 0.15);
        width: 60%;
        height: 450px;
        padding-left: 25px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contact-row {
        height: auto;
        width: 80%;
    }

    .contact-logo {
        width: 25px;
        height: 25px;
        padding-right: 5.5px;
    }

    .form-control {
        font-size: 15px;
        padding: 4px;
        border: 1px solid rgba(0, 0, 0, 0.33);
        border-radius: 5px;
    }

    .informations-2 .form-control {
        margin-top: 10px;
        width: 100%;
        height: 40px;
    }

    .informations-1 .form-control {
        margin-top: 10px;
        width: 100%;
        height: 80px;
    }

    .btn-send {
        margin-top: 10px;
        width: 26%;
        font-size: 12px;
        padding: 3.5px 8.75px 3.5px 8.75px;
        border: 1px solid rgba(0, 0, 0, 0.33);
        border-radius: 5px;
    }
}

  .left-column {
    flex: 0 0 63%; /* Điều chỉnh chiều rộng của cột bên trái */
    padding-right: 20px; /* Khoảng cách giữa cột trái và phải */
  }

  
  .right-column {
    gap: 45px;
    flex: 0 0 25%; /* Chiều rộng của cột bên phải */
  }

  