.news-trend-component {
    width: 100%;
    height: 800px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 95%;
    margin: 8px 4px;
}

.news-card {
    width: 32%;
    height: 355px;
    margin: 8px 8px;
    background-color: #FFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-thumbnail {
    width: 90%;
    height: 70%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.news-thumbnail-img {
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.news-thumbnail-img:hover {
    scale: (1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.news-title {
    margin: 12px 40px 0;
    align-self: flex-start;
    font-size: 1.65rem;
}

.news-author-source {
    margin: 4px;
    width: 100%;
    height: 10px;
    font-size: 1.45rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.news-author {
    position: absolute;
    left: 0;
    margin-left: 40px;
}

.news-source {
    position: absolute;
    right: 0;
    margin-right: 40px;
}

