.wrapper {
    position: fixed;
    width: 100%;
    height: 128px;
    text-shadow: 0.5px 0.5px rgb(12, 12, 12);
}

.header-top, .header-bottom, .header-top-mobile, .header-bottom-mobile {
    background-color: #ffffff;
}

.header-top, .header-bottom, .header-top-mobile, .header-bottom-mobile .logo {
    cursor: pointer;
}

.header-top, .header-bottom, .header-top-mobile, .header-bottom-mobile .media-page {
    cursor: pointer;
}

.header-top, .header-top-mobile {
    border-bottom: 0.25px solid rgb(36, 36, 36, 0.25);
}

.header-bottom, .header-bottom-mobile {
    box-shadow:  0.5px 0.5px rgb(12, 12, 12, 0.25);
}

.logo {
    position: relative;
    align-self: center;
    color: #0C0C0C;
    border: 0;
}

.logo-link {
    text-decoration: none;
    color: #0C0C0C;
}

.slogan {
    position: relative;
    align-self: center;
    color: #0C0C0C;
}

.text {
    text-decoration: none;
    color: #0C0C0C;
}

.separation {
        border-left: 0.25px solid rgb(12, 12, 12, 0.25);
}

// Desktop : Large - Small
@media (min-width: 1201px) {
    .header-top-mobile,
    .header-bottom-mobile {
        display: none;
    }

    .header-top {
        width: 100%;
        height: 70px;
        display: flex;
    }

    .header-bottom {
        height: 58px;
        box-shadow: #0C0C0C;
        display: flex;
    }

    .logo {
        padding-right: 2px;
        padding-left: 60px;
        font-size: 46px;
        font-weight: 600;
        letter-spacing: 1.0px;
    }

    .logo-link {
        display: block;
        height: 40px;
        width: auto;
        font-size: 36px;
    }

    .slogan {
        top: 17%;
        font-size: 21px;
        font-weight: 500;
        letter-spacing: 0.35px;
    }

    .media-page {
        position: absolute;
        align-self: center;
        display: flex;
        right: 0;
        padding-right: 60px;
    }

    .media-page-instagram {
        padding-right: 31px;
    }

    .media-page-facebook {
        padding-right: 31px;
    }

    .media-logo {
        width: 28px;
        height: 28px;
    }

    .header-bottom .user {
        position: absolute;
        line-height: 58px;
        display: flex;
        right: 0;
        padding-right: 145px;
        align-items: center;
    }

    .bell {
        position: relative;
        display: flex;
        top: 15%;
        width: 28px;
        height: 28px;
    }

    .separation {
        width: 21px;
        height: 58px;
        margin-left: 14px;
    }

    .icon {
        position: relative;
        display: flex;
        top: 15%;
        width: 28px;
        height: 28px;
    }

    .text {
        margin-left: 12px;
        font-size: 21px;
        font-weight: 600;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .header-top-mobile,
    .header-bottom-mobile {
        display: none;
    }

    .header-top {
        height: 70px;
        display: flex;
        width: 100%;
    }

    .header-bottom {
        height: 58px;
        background: white;
    }

    .logo {
        padding-right: 2px;
        padding-left: 60px;
        font-size: 47px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    .logo-link {
        font-size: 33px;
    }

    .slogan {
        top: 14%;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .media-page {
        position: absolute;
        align-self: center;
        display: flex;
        right: 0;
        padding-right: 60px;
    }

    .media-page-instagram {
        padding-right: 31px;
    }

    .media-page-facebook {
        padding-right: 31px;
    }

    .media-logo {
        width: 37px;
        height: 37px;
    }

    .user {
        position: absolute;
        align-self: center;
        line-height: 58px;
        display: flex;
        right: 0;
        padding-right: 145px;
        align-items: center;
    }

    .bell {
        position: relative;
        display: flex;
        top: 15%;
        width: 37px;
        height: 37px;
    }

    .separation {
        width: 21px;
        height: 58px;
        border-left: 3px solid black;
        margin-left: 14px;
    }

    .icon {
        position: relative;
        display: flex;
        top: 15%;
        width: 37px;
        height: 37px;
    }

    .text {
        margin-left: 12px;
        font-size: 21px;
        font-weight: 700;
        text-decoration: none;
    }
}
//Done 
// Tablet: Large - Medium - Small
@media (min-width: 897px) and (max-width: 1024px) {
    .header-top-mobile,
    .header-bottom-mobile {
        display: none;
    }

    .header-top {
        height: 70px;
        display: flex;
        width: 100%;
    }

    .header-bottom {
        height: 58px;
    }

    .logo {
        padding-right: 2px;
        padding-left: 60px;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    .logo-link {
        font-size: 30px;
    }

    .slogan {
        top: 17%;
        font-size: 19px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .media-page {
        position: absolute;
        align-self: center;
        display: flex;
        right: 0;
        padding-right: 60px;
    }

    .media-page-instagram {
        padding-right: 31px;
    }

    .media-page-facebook {
        padding-right: 31px;
    }

    .media-logo {
        width: 37px;
        height: 37px;
    }

    .user {
        position: absolute;
        align-self: center;
        line-height: 58px;
        display: flex;
        right: 0;
        padding-right: 145px;
        align-items: center;
    }

    .bell {
        position: relative;
        display: flex;
        top: 15%;
        width: 37px;
        height: 37px;
    }

    .separation {
        width: 21px;
        height: 58px;
        border-left: 3px solid black;
        margin-left: 14px;
    }

    .icon {
        position: relative;
        display: flex;
        top: 15%;
        width: 37px;
        height: 37px;
    }

    .text {
        margin-left: 12px;
        font-size: 21px;
        font-weight: 700;
        text-decoration: none;
    }
}

@media (min-width: 769px) and (max-width: 896px) {
    .header-top-mobile,
    .header-bottom-mobile {
        display: none;
    }

    .header-top {
        height: 70px;
        display: flex;
    }

    .header-bottom {
        height: 58px;
    }

    .logo {
        padding-right: 2px;
        padding-left: 60px;
        font-size: 46px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    .logo-link {
        font-size: 28px;
    }

    .slogan {
        top: 16%;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    .media-page {
        position: absolute;
        align-self: center;
        display: flex;
        right: 0;
        padding-right: 60px;
    }

    .media-page-instagram {
        padding-right: 31px;
    }

    .media-page-facebook {
        padding-right: 31px;
    }

    .media-logo {
        width: 37px;
        height: 37px;
    }

    .user {
        position: absolute;
        align-self: center;
        line-height: 58px;
        display: flex;
        right: 0;
        padding-right: 80px;
        align-items: center;
    }

    .bell {
        position: relative;
        display: flex;
        top: 15%;
        width: 37px;
        height: 37px;
    }

    .separation {
        width: 21px;
        height: 58px;
        border-left: 3px solid black;
        margin-left: 14px;
    }

    .icon {
        position: relative;
        display: flex;
        top: 15%;
        width: 37px;
        height: 37px;
    }

    .text {
        margin-left: 12px;
        font-size: 21px;
        font-weight: 700;
        text-decoration: none;
    }
}

@media (min-width: 547px) and (max-width: 768px) {
    .header-top,
    .header-bottom {
        display: none;
    }

    .header-top-mobile {
        height: 70px;
        display: flex;
        flex-direction: row;
    }

    .header-bottom-mobile {
        height: 58px;
        display: flex;
    }

    .logo {
        padding-right: 2px;
        padding-left: 12px;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    .logo-link {
        font-size: 26px;
    }

    .slogan {
        font-size: 14px;
        font-family: 500;
        letter-spacing: 0.5px;
        padding-left: 12px;
    }

    .login-mobile {
        position: relative;
        margin-left: 160px;
        line-height: 69px;
    }

    .icon {
        width: 28px;
        height: 28px;
    }

    .text {
        margin-left: 8px;
        font-size: 18px;
        font-weight: 700;
        line-height: 70px;
        text-decoration: none;
    }

    .media-page {
        position: absolute;
        align-self: center;
        display: flex;
        right: 0;
        padding-right: 12px;
        justify-content: center;
        line-height: 70px;
    }

    .media-page-instagram {
        padding-right: 5px;
    }

    .media-page-facebook {
        padding-right: 5px;
    }

    .media-logo {
        width: 28px;
        height: 28px;
    }

    .user {
        position: absolute;
        align-self: center;
        line-height: 58px;
        display: flex;
        right: 0;
        padding-right: 35px;
        align-items: center;
    }

    .separation {
        width: 21px;
        height: 58px;
        border-left: 3px solid black;
        margin-left: 14px;
    }

    .bell {
        position: relative;
        display: flex;
        line-height: 58px;
        width: 37px;
        height: 37px;
    }
}

// Also can be Mobile
@media (min-width: 440px) and (max-width: 547px) {
    .header-top,
    .header-bottom {
        display: none;
    }

    .header-top-mobile {
        height: 70px;
        display: flex;
        flex-direction: row;
    }

    .header-bottom-mobile {
        height: 58px;
        display: flex;
    }

    .logo {
        padding-right: 2px;
        padding-left: 5px;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    .logo-link {
        font-size: 25px;
    }

    .slogan {
        font-size: 14px;
        font-family: 500;
        letter-spacing: 0.5px;
        padding-left: 5px;
    }

    .login-mobile {
        position: relative;
        margin-left: 103px;
        line-height: 69px;
    }

    .icon {
        width: 28px;
        height: 28px;
    }

    .text {
        margin-left: 8px;
        font-size: 18px;
        font-weight: 700;
        line-height: 70px;
        text-decoration: none;
    }

    .media-page {
        position: absolute;
        align-self: center;
        display: flex;
        right: 0;
        padding-right: 2px;
        justify-content: center;
        line-height: 70px;
    }

    .media-page-instagram {
        padding-right: 5px;
    }

    .media-page-facebook {
        padding-right: 5px;
    }

    .media-logo {
        width: 28px;
        height: 28px;
    }

    .user {
        position: absolute;
        align-self: center;
        line-height: 58px;
        display: flex;
        right: 0;
        padding-right: 35px;
        align-items: center;
    }

    .separation {
        width: 21px;
        height: 58px;
        border-left: 3px solid black;
        margin-left: 14px;
    }

    .bell {
        position: relative;
        display: flex;
        line-height: 58px;
        width: 37px;
        height: 37px;
    }
}

//**
@media (max-width: 440px) {
    .header-top,
    .header-bottom {
        display: none;
    }

    .header-top-mobile {
        height: 70px;
        display: flex;
        flex-direction: row;
    }

    .header-bottom-mobile {
        height: 58px;
        display: flex;
    }

    .logo {
        padding-right: 2px;
        padding-left: 5px;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    .logo-link {

    }

    .slogan {
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0.5px;
        padding-left: 5px;
    }

    .login-mobile {
        position: relative;
        margin-left: 60px;
        line-height: 69px;
    }

    .icon {
        width: 28px;
        height: 28px;
    }

    .text {
        display: none;
        text-decoration: none;
    }

    .media-page {
        position: absolute;
        align-self: center;
        display: flex;
        right: 0;
        padding-right: 5px;
        justify-content: center;
        line-height: 70px;
    }

    .media-page-instagram {
        padding-right: 5px;
    }

    .media-page-facebook {
        padding-right: 5px;
    }

    .media-logo {
        width: 28px;
        height: 28px;
    }

    .contents {
        position: absolute;
        line-height: 58px;
        display: flex;
        padding-left: 15px;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 0.5px;
    }

    .topic,
    .hashtag,
    .post,
    .video {
        margin-right: 15px;
    }

    .topic,
    .hashtag {
        color: #fff;
        text-decoration: none;
    }

    .inner-box {
        margin-top: 10px;
        color: #fff;
        text-decoration: none;
    }

    .inner-box:hover {
        padding-left: 2px;
        opacity: 0.5;
    }

    .user {
        position: absolute;
        align-self: center;
        line-height: 58px;
        display: flex;
        right: 0;
        padding-right: 15px;
        align-items: center;
    }

    .separation {
        width: 21px;
        height: 58px;
        border-left: 3px solid black;
        margin-left: 14px;
    }

    .bell {
        position: relative;
        display: flex;
        line-height: 58px;
        width: 37px;
        height: 37px;
    }
}
