header {
    z-index: 2;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    min-height: 500px;
    margin-top: 128px;
    background: linear-gradient(to top, #dbc067, #dcdc82, #dcd2a1);
}
